div.main{
	background-color: #dcefff;
	width: 85%;
	margin-top: 80px;
	padding: 10px 55px 40px;
	border: 15px #00427a;
	box-shadow: 0 0 25px;
	border-radius: 2px;
	font-size: 13px;
	margin: auto;
}

div.panel-left{
	width: 35%;
	float: left;
}
div.panel-right{
	width: 35%;
	float: right;
}

#selectable1 .ui-selecting { background: black; color:white; }
#selectable1 .ui-selected { background: #00427a; color: white; }
#selectable1 { list-style-type: none; margin: 0; padding: 0; width: 100%; }
#selectable1 li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }
#selectable1 li:hover { background:white; color:black; }