div.main{
	background-color: #dcefff;
	width: 100%;
	box-sizing:boarder-box;
	margin:0;
	padding: 0;
	box-shadow: 0 0 25px;
	font-size: 13px;
}

div.panel-left{
	width: 46%;
	box-sizing: border-box;
	margin:15px;
	padding:10px;
	float:left;
}
div.panel-right{
	width: 46%;
	box-sizing: border-box;
	margin:15px;
	padding:10px;
	float:right;
}

.selectlist .ui-selecting { background: black; color:white; transition:.01s;}
.selectlist .ui-selected { background: #00427a; color: white; transition:.1s}
.selectlist { list-style-type: none; margin: 0; padding: 0; width: 100%; }
.selectlist li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }
.selectlist li:hover { background:white; color:black; transition:.1s;}

@media screen and (max-width: 866px) {
	div.panel-left{
		width:90%;
	}
	div.panel-right{
		width:90%;
	}
}